:root {
  /* Provided colors from Figma design file */

  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
}

/* Base styling for elements is based on the Mobile (375px) layout provided in the
initial Figma design file. Adherence to mobile-first practices for web layouts. */

body {
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
  max-width: 100%;
}

/* Component adjustments for Tablet layout */
@media (minth-width: 768px) {
  /* Placeholder media query */
}

/* Component adjustments for Desktop layout */
@media (min-width: 1440px) {
  /* Placeholder media query */
}
