/* Typefaces for 'Young Serif' and 'Outfit' provided from Front End Mentor 
TrueType font faces with support for various weights and sizes*/

@font-face {
  font-family: "YoungSerif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Provided colors from Figma design file */

  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
}

/* Base styling for elements is based on the Mobile (375px) layout provided in the
initial Figma design file. Adherence to mobile-first practices for web layouts. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", "Helvetica", sans-serif;
}

/* Styling rules for varying containers <article>, <section>, <aside> 
for Mobile layout (368px) */

article {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

aside {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  background-color: var(--rose-50);
  border-radius: 12px;
}

/* List styling for Mobile layout (368px) */

ol,
ul {
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 8px;
}

li {
  padding-left: 8px;
}

li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

aside ul > li::marker {
  color: var(--rose-800);
}

img {
  object-fit: cover;
  max-width: 100%;
}

/* Text styling for Mobile layout (368px) */

h1 {
  color: var(--stone-900);
  font-family: "YoungSerif", "Times New Roman", serif;
  font-weight: 400;
  font-size: 2.25rem;
}

h2 {
  color: var(--brown-800);
  font-family: "YoungSerif", "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
}

h3 {
  color: var(--rose-800);
  font-weight: 600;
  font-size: 1.25rem;
}

p {
  color: var(--stone-600);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  width: 100%;
}

li p {
  display: inline;
}

table {
  width: 100%;
}

/* Table element styling for Mobile layout (368px) */
table td {
  color: var(--stone-600);
  border-bottom: 1px solid var(--stone-150);
  padding: 12px 32px;
}

table td .bold {
  color: var(--brown-800);
}

hr {
  color: var(--stone-150);
  height: 1px;
}

/* Utility Classes and Additional Styling */
.bold {
  font-weight: bold;
}

/* Component adjustments for Tablet layout (768px) */
@media (min-width: 768px) {
  body {
    background-color: var(--stone-100);
    padding: 128px 48px;
  }

  article {
    background-color: var(--white);
    border-radius: 24px;
    padding: 40px;
  }

  img {
    border-radius: 12px;
  }
}

/* Component adjustments for Desktop layout (1440px) */
@media (min-width: 1080px) {
  /* Placeholder media query */
  article {
    max-width: 736px;
  }
}
