@font-face {
  font-family: "YoungSerif";
  src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
}

:root {
  /* Provided colors from Figma design file */

  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
}

/* Base styling for elements is based on the Mobile (375px) layout provided in the
initial Figma design file. Adherence to mobile-first practices for web layouts. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", "Helvetica", sans-serif;
}

article {
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

aside {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  background-color: var(--rose-50);
  border-radius: 12px;
}

ol,
ul {
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  gap: 8px;
}

li {
  padding-left: 8px;
}

li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

aside ul > li::marker {
  color: var(--rose-800);
}

img {
  object-fit: cover;
  max-width: 100%;
}

h1 {
  color: var(--stone-900);
  font-family: "YoungSerif", "Times New Roman", serif;
  font-weight: 400;
  font-size: 2.25rem;
}

h2 {
  color: var(--brown-800);
  font-family: "YoungSerif", "Times New Roman", serif;
  font-weight: 400;
  font-size: 1.75rem;
}

h3 {
  color: var(--rose-800);
  /* font-family: "Outfit", "Helvetica", sans-serif; */
  font-weight: 600;
  font-size: 1.25rem;
}

p {
  color: var(--stone-600);
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  width: 100%;
}

li p {
  display: inline;
}

table {
  width: 100%;
}

table td {
  color: var(--stone-600);
  border-bottom: 1px solid var(--stone-150);
  padding: 12px 32px;
}

table td .bold {
  color: var(--brown-800);
}

hr {
  height: 1px;
  color: var(--stone-150);
}

/* Utility Classes and Additional Styling */
.bold {
  font-weight: bold;
}

/* Component adjustments for Tablet layout */
@media (min-width: 768px) {
  /* Placeholder media query */
}

/* Component adjustments for Desktop layout */
@media (min-width: 1440px) {
  /* Placeholder media query */
}
